BSEC_DIR='./src/BSEC_1.4.7.1_Generic_Release_20180907'

VERSION='Normal_version'

ARCH="${VERSION}/RaspberryPI/PiZero_ArmV6-32bits"

# Other architectures can be found in BSEC_DIR/algo/bin/.

CONFIG='generic_33v_3s_4d'

# Other configs are:
# generic_18v_300s_28d
# generic_18v_300s_4d
# generic_18v_3s_28d
# generic_18v_3s_4d
# generic_33v_300s_28d
# generic_33v_300s_4d
# generic_33v_3s_28d
# generic_33v_3s_4d

CONFIG_DIR='.'

